html { opacity: 0; transition: opacity 0s ease-out; }
html.elements-loaded { opacity: 1; transition: opacity 0.5s ease-in; }

.sticky-topbar {
  position: fixed;
  width: 100%;
}

.top-bar {
  background-image: linear-gradient(#282830, #282830);
  padding: 5px;
}

.top-bar ul {
  background-color: transparent;
}

.top-bar img {
  margin-left: 8px;
  margin-right: 8px;
  height: 60px;
  filter: brightness(1.8);
}

.top-bar .menu .menu-text, .dark-content {
  color: #FFFFFF;
  opacity: 0.6;
}

.top-bar .menu a {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.menu-heading {
  font: 30px 'Abel', sans-serif;
}

body {
  background-color: #121212;
  font-family: 'Open Sans', sans-serif;
}

table {
    color: #333333;
}

ul {
  line-height: 1.2;
}