<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head></head>
<body>

    <!-- Site-wide head fragment -->
    <div th:fragment="head (pageTitle)" th:remove="tag">
        <meta charset="UTF-8">
        <title th:text="${'Zika Dashboard - ' + pageTitle}">Zika Dashboard</title>

        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>

        <!-- Foundation JS -->
        <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js"
                integrity="sha256-/PFxCnsMh+nTuM0k3VJCRch1gwnCfKjaP8rJNq5SoBg="
                crossorigin="anonymous"></script>

        <!-- Site-wide JS -->
        <script type="text/javascript" src="js/global.js"></script>

        <!-- Google Fonts -->
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Abel|Open+Sans&display=block" />

        <!-- Foundation CSS -->
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css"
              integrity="sha256-xpOKVlYXzQ3P03j397+jWFZLMBXLES3IiryeClgU5og="
              crossorigin="anonymous"/>

        <!-- Site-wide CSS -->
        <link rel="stylesheet" type="text/css" href="css/global.css" />
    </div>

    <!-- Nav top-bar fragment -->
    <div class="top-bar-container" data-sticky-container th:fragment="top-bar">
        <div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">
            <div class="top-bar">
                <div class="top-bar-left">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li class="menu-text menu-heading">ZIKA Dashboard</li>
                        <li><a href="#">Home</a></li>
                    </ul>
                </div>
                <div class="top-bar-right">
                    <ul class="menu">
                        <li><img src="/images/launchcode.png"/></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</body>
</html>